<!-- file: app.component.html -->
<div class="container mt-3">
  <div class="d-flex align-items-center mb-3">
    <div class="position-relative">
      <select #dateSelect class="form-select" [(ngModel)]="selectedDate" (change)="onDateChange(dateSelect.value)"
        [style.width]="dropdownWidth">
        <option *ngFor="let date of dates">{{ date }}</option>
      </select>
    </div>
    <button class="btn btn-primary ms-3" (click)="addDate()">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <h1>DoubleCheck Budget Manager</h1>

  <h3 class="mt-4 d-inline-block align-middle">
    Income
    <a href="javascript:void(0)" (click)="createNewItem('Income')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'Income'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

  <h3 class="mt-4 d-inline-block align-middle">
    Tithe
    <a href="javascript:void(0)" (click)="createNewItem('Tithe')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'Tithe'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

  <h3 class="mt-4 d-inline-block align-middle">
    Credit
    <a href="javascript:void(0)" (click)="createNewItem('Credit')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'Credit'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

  <h3 class="mt-4 d-inline-block align-middle">
    Savings
    <a href="javascript:void(0)" (click)="createNewItem('Savings')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'Savings'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

  <h3 class="mt-4 d-inline-block align-middle">
    To Germany
    <a href="javascript:void(0)" (click)="createNewItem('ToGermany')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'ToGermany'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

  <h3 class="mt-4 d-inline-block align-middle">
    Misc
    <a href="javascript:void(0)" (click)="createNewItem('Misc')" class="ml-2 text-body">
      <i class="fas fa-plus"></i>
    </a>
  </h3>
  <app-budget-checklist [type]="'Misc'" [selMonth]="curMonth" (addItem)="onAddItem($event)"></app-budget-checklist>

</div>