// styles.scss

@import '~@fortawesome/fontawesome-free/css/all.css';

// Light colors
$income-light: #C6EFCE;
$tithing-light: #FEEB9C;
$expense-light: #FBC7CF;

// Dark colors
$income-dark: #3B7A3A;
$tithing-dark: #AA7D16;
$expense-dark: #A63A45;

.caution-checkbox {
  accent-color: #1407c5 !important;
}

.income-background {
  background-color: $income-light;
  color: $income-dark;
  border-color: $income-dark;

  .checked-item {
    &:checked {
      accent-color: $income-dark;
    }
  }
}

.tithing-background {
  background-color: $tithing-light;
  color: $tithing-dark;
  border-color: $tithing-dark;

  .checked-item {
    &:checked {
      accent-color: $tithing-dark;
    }
  }
}

.expense-background {
  background-color: $expense-light;
  color: $expense-dark;
  border-color: $expense-dark;

  .checked-item {
    &:checked {
      accent-color: $expense-dark;
    }
  }
}